# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Project data
**/todos.json
**/highscores.json
